<footer class="footer-grid text-dark-800">
  <ul class="left social-media" role="list">
    <li class="uppercase fw-700">Find us on social media</li>
    <li>
      <a href="#"
        ><img
          src="./images/instagram.png"
          alt="instagram logo"
        />&nbsp;Instagram</a
      >
    </li>
    <li>
      <a href="#"
        ><img src="./images/facebook.png" alt="facebook logo" />
        &nbsp;Facebook</a
      >
    </li>
    <li>
      <a href="#"
        ><img src="./images/twitter.png" alt="twitter logo" /> &nbsp;Twitter</a
      >
    </li>
  </ul>

  <ul class="right legal-and-privacy" role="list">
    <li class="uppercase fw-700">Legal and privacy</li>
    <li><a href="/contact-us">Contact us</a></li>
    <li><a href="#">Privacy policy</a></li>
    <li><a href="#">Cookies</a></li>
  </ul>

  <div class="bottom copyright text-dark-800">
    <hr class="hr-single-01" />
    Copyright &copy; Coleslaw 2023 &sdot; Images by
    <a href="https://www.pexels.com/">Pexels</a> &sdot; Icons by
    <a href="https://icons8.com/">Icons8</a>
  </div>
</footer>
