<nav>
  <ul
    data-visible="false"
    class="navigation flex uppercase fw-700 fs-500"
    role="list"
    aria-label="Main"
  >
    <li>
      <a href="/" class="hover-underline">Home</a>
    </li>
    <li>
      <a href="/section-space" class="hover-underline">Space</a>
    </li>
    <li>
      <a href="/section-nature" class="hover-underline">Nature</a>
    </li>
    <li>
      <a href="/section-mind" class="hover-underline">Mind</a>
    </li>
  </ul>
</nav>
