<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <header class="header flex">
      <div class="logo flex ff-decorative fs-700 fw-700">
        <a href="/">
          <img src="./images/logo.png" alt="sonic hedgehog logo" />
        </a>
        <p class="logo-title">SonicHedgehog</p>
      </div>

      <%- include('./partials/nav.ejs') %>

      <button
        aria-expanded="false"
        class="nav-toggle"
        aria-label="Open the menu"
      ></button>
    </header>

    <main class="main-grid">
      <article class="one article bg-primary-500 text-light-200">
        <a href="./article-nature-killer-whale">
          <div>
            <img
              src="./images/small-killer-whale.jpg"
              alt="killer whale swimming together with its baby"
            />
          </div>
          <div>
            <p>Nature</p>
            <h2>How killer whales are like people</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut nobis
              minima odit quibusdam ducimus inventore culpa maiores eius rem
              sit! Accusantium ex praesentium esse sequi sit unde dolorum error
              dolores. Lorem ipsum dolor sit amet.
            </p>
          </div>
        </a>
      </article>

      <article class="two article bg-primary-400 text-dark-800">
        <a href="./article-space-rocket">
          <div>
            <img
              src="./images/small-rocket.jpg"
              alt="rocket during its lift off"
            />
          </div>
          <div>
            <p>Space</p>
            <h2>
              New Japanese Rocket Is Destroyed During First Test Flight to Space
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              officia exercitationem, quia ducimus consectetur iusto reiciendis,
              hic optio similique eos voluptate culpa consequatur.
            </p>
          </div>
        </a>
      </article>

      <article class="three article bg-light-100">
        <a href="./article-nature-cat">
          <div>
            <img
              src="./images/small-cat.jpg"
              alt="fluffy cat staring directly at you"
            />
          </div>
          <div>
            <p>Nature</p>
            <h2>
              The truth about cats' domestication and why they really quite like
              us
            </h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non
              perferendis hic ipsum cupiditate, voluptatum, rerum vero enim
              aliquam facilis expedita corporis ipsam eius recusandae sapiente
              perspiciatis! Dignissimos repudiandae qui corporis.
            </p>
          </div>
        </a>
      </article>

      <article class="four article bg-secondary-400 text-dark-800">
        <a href="./article-mind-test">
          <div>
            <img
              src="./images/small-test.jpg"
              alt="psychological test with ink spilled on a sheet of paper"
            />
          </div>
          <div>
            <p>Mind</p>
            <h2>
              Controversial psychology tests are often still used in US courts
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus quaerat temporibus, ipsa nihil, veritatis eligendi
              id, velit eaque quo ipsam praesentium iure ea eveniet quas. Alias
              molestias mollitia sequi consequatur!
            </p>
          </div>
        </a>
      </article>

      <article class="five article bg-light-100">
        <a href="./article-space-moon">
          <div>
            <img
              src="./images/small-moon.jpg"
              alt="half moon visible in the night sky"
            />
          </div>
          <div>
            <p>Space</p>
            <h2>
              The moon may be made of magma that once covered Earth’s entire
              surface
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit quae
              facilis animi doloribus omnis, similique voluptas, eos asperiores
              perferendis vitae distinctio. Non nobis, natus voluptatibus at
              officia voluptatum tempore eligendi earum doloremque optio enim
              deleniti dolores quasi dicta rem eum magni quo possimus
              consectetur quam amet suscipit atque veritatis? Similique totam
              neque, beatae delectus amet blanditiis, alias itaque pariatur
              earum, ducimus veniam! Quasi adipisci, repudiandae recusandae
              explicabo possimus aliquam voluptatibus.
            </p>
          </div>
        </a>
      </article>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
